@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'ohio_kraft';
    src: url('ohiokraft-webfont.woff2') format('woff2'),
         url('ohiokraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 3.5em;
    font-family: "ohio_kraft";
}

p {
    font-size: 1.5em;
    font-family: 'Arvo', serif;
}

a {
    text-decoration: none;
    font-style: italic;
}

.groslien {
    color: chocolate;
    font-size: 2em;
}

.ptilien {
    color: dimgray;
}